// config.js
module.exports = {
  ftpConfig: {
    host: 'url',
    user: 'userID',
    password: 'Password',
    secure: false,
    pasv: true
  },
  fileConfig: {
    localFilePath: 'url of webpage to screenshot',  // The webpage URL to capture
    localOutputPath: 'filename and path of local image file',  // The local path to save the screenshot
    remoteOutputPath: 'filename and path of image file output',  // The remote FTP path where the file will be uploaded
  },
  htmlConfig: {
    originalHTMLPath: 'url',  // Path to the original HTML file
    outputHTMLPath: '/folder and file name.jpg',   // Path where the rendered HTML will be saved
    serverURL: 'http://<url or IP>:3000/get-text',  // Server's URL to fetch the dynamic text values
  },
  serverConfig: {
    port: 3000,  // Port on which the server will listen
    staticFilesDirectory: 'ouput location',  // Path to serve static files
    textFilePath: '/<folder structure>/textValues.json'  // Path to the JSON file with text values
  }
};
